<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fortablydumb.whoishakatonandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Ko.Je"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WhoIsHakaton_Android"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".StartScreenActivity"
            android:theme="@style/Theme.WhoIsHakaton_Android.NoActionBar"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DetaljiActivity2"
            android:exported="true"
            android:theme="@style/Theme.WhoIsHakaton_Android.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".PodesavanjaActivity"
            android:exported="true"
            android:label="@string/title_activity_podesavanja" />
        <activity
            android:name=".DetaljiActivity"
            android:exported="true" />
        <activity
            android:name=".GlavniActivity"
            android:exported="true"
            android:label="@string/title_activity_glavni"
            android:windowSoftInputMode="adjustResize">

        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="Channel1" />

        <service
            android:name=".FirebaseServis"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>